<mat-toolbar color="primary">
  <span>Card view</span>
</mat-toolbar>

<!-- Search Bar -->

<div class="search-container" placeholder="Search">
  <span>Search : </span>
  <input type="text" [(ngModel)]="searchText" />
</div>
<select [(ngModel)]="filterField">
  <option value="all">All</option>
  <option value="name">Name</option>
  <option value="email">Email</option>
  <option value="phone">Phone</option>
</select>

<div class="content" style="max-width: 960px; margin: 0 auto">
  <div (searchTextChanged)="onSearchTextEntered($event)"></div>

  <!-- Sorting -->

  <!-- <a class="link" (click)="sortedcolumn = 'name'" Sorting></a> -->
  <div style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 20px">
    <ng-container *ngFor="let user of users | sort: 'name'">
      <mat-card
        class="mat-elevation-z4 exp-card"
        *ngIf="
          searchText === '' ||
          user.email?.toLowerCase()?.includes(searchText.toLowerCase()) ||
          user.name?.toLowerCase()?.includes(searchText.toLowerCase())
        "
      >
        {{ user.card }}

        <img
          mat-card-image
          src="/assets/img/{{ user.profile }}"
          style="height: 200px; object-fit: cover"
        />
        <mat-card-header>
          <mat-card-title
            class="mat-card-title-card .mat-card-title-cdd"
            *ngIf="filterField === 'all' || filterField === 'name'"
            >{{ user.name }}</mat-card-title
          >
          <mat-card-subtitle
            ><span *ngIf="filterField === 'all' || filterField === 'email'">{{
              user.email
            }}</span
            >,<br /><span
              *ngIf="filterField === 'all' || filterField === 'phone'"
              >{{ user.phone }}</span
            ><span *ngIf="filterField === 'all' || filterField === 'id'">{{
              user.id
            }}</span></mat-card-subtitle
          >
        </mat-card-header>

        <!-- Delete Operation -->
        <button
          class="btn btn-sm btn-danger crd-btn"
          (click)="openDelete(user)"
        >
          <i class="fa fa-remove"></i>Delete
        </button>
      </mat-card>
    </ng-container>
  </div>
  <!-- From getbootstrap.com pagination -->
  <div aria-label="Page navigation example" class="mt-2">
    <ul class="pagination">
      <!-- <li class="page-item">
        <a class="page-link">First</a>
      </li> -->
      <li class="page-item">
        <a class="page-link" (click)="goPrevious()">Previous</a>
      </li>
      <input
        type="number"
        [ngModel]="pageNo"
        (ngModelChange)="setPageNo($event)"
      />
      <li class="page-item">
        <a class="page-link" (click)="goNext()">Next</a>
      </li>
      <!-- <li class="page-item">
        <a class="page-link">Last</a>
      </li> -->
    </ul>
  </div>
</div>

<!-- TABLE -->

<!-- Search Bar -->

<div
  style="
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
  "
>
  <label for="search" style="margin-right: 10px">Search</label>
  <div style="flex: 1">
    <mat-form-field style="width: 100%">
      <input
        matInput
        appearance="fill"
        (keyup)="filterTable($event)"
        placeholder="Filter"
        style="width: 100%"
      />
    </mat-form-field>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataArray" style="width: 100%" matSort>
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="profile">
      <th mat-header-cell *matHeaderCellDef>Profile</th>
      <td mat-cell *matCellDef="let element">{{ element.profile }}</td>
    </ng-container>

    <!-- Delete Operation -->

    <!-- <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" class="fa fa-remove" (click)="">
        <i (click)="openDelete(user)">Delete</a>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- table Paginataion -->
  <mat-paginator
    [pageSizeOptions]="[4, 8]"
    showFirstLastButtons
  ></mat-paginator>
</div>
