@import '~bootstrap/dist/css/bootstrap.min.css';

.content {
    display: block;
    padding: 16px;
}


  .search-container {
    width: 357px;
    margin: 4px auto;
  }
  
  #searchTextChanged{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #1f7f5c;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
  }

  #filterField{
    width: 357px;
    margin: 4px auto;

  }  


.profile-pic-div{
    max-width : 100%;
    border: none !important;
    text-align: center;
    overflow: hidden;
}

.profile-pic-div img
{
    border-radius: 50%;
    max-width:30%;
    max-height : 160px;
    max-width: inherit;
}

/* .wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
} */

#file{
    display: none;
}

#uploadBtn{
    width: 100%;
    padding : 7px 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    margin-top : 20%;

}

.form-group .form-control{
    width : 100%;
    margin : 8px 0px;
    padding : 10px 5px;
    border : none !important;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 2px 1px 7px;
    opacity : 0.8;
}

.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
    opacity : 1;
}

.form-control.ng-touched.ng-valid {
    border:1px solid green;
}

.nav-card-page 
{
    background-color: rgba(0,0,0,0.3);
    width: 100%;
}

.nav-card-page li 
{
    list-style : none;
}

.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-email {
    font-style: italic;
  }
  
  .mat-column-demo-phone {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

td.mat-cell, th.mat-header-cell {
    text-align: center;
    justify-content:center;
}

.mat-card
{
  padding: 13px;
  overflow: hidden;
  text-align: center;
}


.mat-card-header
{
  display : block;
}

.mat-card-title
{
  padding : 3px 0;
}

.mat-card-subtitle
{
  padding : 3px 0;
}
